.App {
  text-align: center;
  width: 100%;
  height:100vh;
  background: #121213;
}

.custom_row{
  display: flex;
  align-items: center;
}
.dropdown p{
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;

}
.dropdown{
  box-shadow: 0 0 5px 2px black;
  background: #121213;

  position: absolute;
  right: 8vw;
  top:10vh;
  width:10vw;
}
.App-header {
padding: 0vh 2vw 0vh 4vw;
background: #070707;
color:white;
display: flex;
}
.heading{
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-left: 3vw;
  text-align: left;
  font-size: 5vh;
  color:#e87f4d;
  width:30vw;
}
.tab{
  padding-top: 2vh;
  width: 35vw;
  text-align: left;
  position: relative;
}
.tab span{
  position: absolute;
  padding-bottom: 2vh;
  border-bottom: 0.5vh solid #e87f4d;
  font-size: 1.2em;
  bottom: 0;
  font-weight: bold;
}
.user{
  padding-top: 3vh;
  padding-bottom: 1vh;
  width:25vw;
  text-align: right;
  cursor: pointer;
}
.user:hover{
  font-weight: bold;
}
