.Content{
  display: flex;
  align-items: center;
  justify-content: center;
  height:100%;
  position: relative;
}
.Content div h3{
    color:white;
    text-align: center;
  }
.Modal{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6)
}
.ModalContent{
  margin-top:2vh;
  background-color: white;
  color:black;
  position: relative;
}
.ModalMain{
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  width: 100%;
}
.controls{
  padding-top: 3vh;
  width: 100%;
  color:white
}
.controls span{
  padding-right: 0.5vw;
  padding-top: 0.5vh;
}
.controls button{
  color: #e87f4d;
  border: 1px solid #e87f4d;
  background: transparent;
  margin-left: 0.5vw;
   user-select: none;
}
.controls button:hover{
  color:white;
  background: #e87f4d;
  cursor: pointer;

}
.ModalContent video{
  width: 100%;
  left:0;
  top:0;
}
.ModalContent canvas{
  width: 100%;
  height:100%;
  position: absolute;
  left:0;
  top:0;
}
