.WorkArea2{
  height: 90vh;
  display: flex;
  text-align: left;
}
.SideBar{
  width: 20%;
  border-right: 4px solid #343637;
  padding: 4vh 2vw 2vh 2vw;
  color:white;
}
.SideBarSearch{
  position: relative;
}
.SideBar button{
  width:100%;
  background-color: #e87f4d;
  color:white;
  margin-bottom: 3vh;
  font-size: 120%;
  padding-top:0.5vw;
  padding-bottom: 0.5vw;
  border: 1px solid #e87f4d;
  cursor: pointer;
}
.SideBar button:hover{
  background-color: #bd663d;
}
.SideBarSearch span{
  position: absolute;
  top:1vh;
  right:0;
  font-size: 1.5vw;
  color:#969b9c;
}
.SideBarSearch,.SideBarSearch input{
  width: 96%;
  font-size: 80%;
  background-color: transparent;
  color:white;
}
.SideBarSearch input{
  padding: 4%;
    border: 1px solid #e87f4d;
}
.ContentArea{
  width: 80%;
}
.ContentHead{
  padding-top: 2vh;
  font-size: 150%;

}
.PropertyLabel{
  font-size: 100%;
  color:lightgray;
}
.Labels{
  display: flex;
  flex-wrap:wrap;
}
.LabelsContent{
  margin: 5px;
  padding: 0.5vh 0.75vw 0.5vh 0.75vw;
  font-size: 80%;
  color:#969b9c;
  border: 1px solid #969b9c;
  cursor: pointer;
}
.LabelsContent:hover{
  color:lightgray;
}
.CheckBoxInput{
  position: relative;
  padding-bottom: 1vh;
}
.CheckBoxInput input{
  position: absolute;
  top:0.2vh;
cursor: pointer;
}

.CheckBoxInput {
  cursor: pointer;
}
.CheckBoxInput label{
  padding-left: 1vw;
  font-size: 100%;
  color:#969b9c;
  cursor: pointer;
  position: absolute;
  top:-2px;
}
.CheckBoxInput label:hover{
  color:orange;
}


.squaredTwo {
  width: 14px;
  height: 14px;
  position: relative;
  background: #fcfff4;
  background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
}
.squaredTwo label {
  width: 10px;
  height: 10px;
  cursor: pointer;
  position: absolute;
  left: 2px;
  top: 2px;
  background: linear-gradient(to bottom, #222222 0%, #45484d 100%);
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px white;
}
.squaredTwo label:after {
  content: '';
  width: 4px;
  height: 1.5px;
  position: absolute;
  top: 2px;
  left: 2px;
  border: 3px solid #e87f4d;
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.squaredTwo label:hover::after {
  opacity: 0.3;
}
.squaredTwo input[type=checkbox] {
  visibility: hidden;
}
.squaredTwo input[type=checkbox]:checked + label:after {
  opacity: 1;
}

.scrollCont{
  overflow-y:scroll;
  max-height:50vh;
}

.scrollCont::-webkit-scrollbar {
  width: 7px;
  cursor: grabbing;
}

/* Track */
.scrollCont::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.scrollCont::-webkit-scrollbar-thumb {
  background: #e87f4d;
}

/* Handle on hover */
.scrollCont::-webkit-scrollbar-thumb:hover {
  background: #bd663d;
}
