.WorkArea{
  height: 90vh;
}
.WorkArea button{
  margin-top: 10vh;
  font-size: 4vh;
  padding: 1vh 2vw 1vh 2vw;
  border-radius: 1vh;
  color:white;
  background-color: transparent;
  border: 2px solid #e87f4d;
  cursor: pointer;
}
.DragArea{
  margin-top: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.DragDrop div span{
  font-size: 6vh;

}
.DragDrop div p{
  font-size: 4vh;
  padding-bottom: 1vh;
  padding-left: 1vw;
}
.DragDrop div{
  display: flex;
  align-items: center;
  justify-content: center;
}
.DragDrop{
  cursor: pointer;
  padding-top: 13vh;
  padding-bottom: 13vh;
  color:#9c9c9c;
  width: 80%;
  height:60%;
  background: #1d1d1d;
  border-radius: 2vw;
  border: 1px dashed lightgrey;
}
